<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIVXe4w2KLFajY9upbWGLkLAxkKWS7mqo</string>
	<key>GCM_SENDER_ID</key>
	<string>929492894262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.norvera.confession.dev</string>
	<key>PROJECT_ID</key>
	<string>confession-devj</string>
	<key>STORAGE_BUCKET</key>
	<string>confession-devj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929492894262:ios:9b97a4f8ab137c0d04ce97</string>
</dict>
</plist>